*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.games-section{
    display: flex;
    width: 100%;
    background-color: white;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.title{
    margin-top: 30px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.games-list{
    background-color:white;
    margin-top: 40px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 15%;
    margin-right: 15%;
    gap: 1.5rem;   
    margin-bottom: 100px; 
}

.games-list li{
    background-color: black;
    display: inline-block;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.games-list li img,
.games-list li::before,
.games-list li::after{
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}

.games-list li::before,
.games-list li::after{
    content: '';
    opacity: 0;
    position: absolute;
    z-index: 1;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.games-list li::before{
    left: 0;
    height: 1px;
    width: 60px;
}

.games-list li::after{
    height: 60px;
    width: 1px;
    top: 100%;
}

.games-list li a{
    bottom: 0; 
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index:1;
}

.games-list li:hover img{
    opacity: 0.5;
    transform: scale(1.2);
    position: absolute;
}

.games-list li img:hover::before,
.games-list li img:hover:after{
    left: 50%;
    opacity: 1;
    top: 50%;
}

.games-list li{
    position: relative;
    background: linear-gradient(.25turn, blue, 30%, tomato);
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: 1;
}

.latest-games{
    padding: 15px;
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    background-color: white;
    border: 2px solid black;
    align-content: center;
    cursor: pointer;
}

.latest-games a{
    color: black;
    text-decoration: none;
}

.latest-games:hover{
    background-color: white;
    transform: scale(1.16);
}

.logo{
    display: flex;
    margin-bottom: 46%;
    justify-content: center;
    align-content: center;
    position: relative;
    overflow:hidden;
    height: 60%;
    width: 100%;
    }

.games-list li:hover .logo img {
    bottom:0;
    margin-bottom: 60px;
 }

.logo img{
    margin-bottom: 10px;
    align-self: flex-end;
    position:relative;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    transition: all 0.8s ease;
    }
    