* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    font-size: large;
    font-weight: bolder;
}

.container {
    display: flex;
    /* background-color: #1c2022; */
    border-color: #736b5e;
    width: 100%;
    flex-direction: column;
}

.more-options {
    height: 100%;
    color: orange;
    font-size: xx-large;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #34393f;
    color: rgb(240, 248, 255);
    padding: 10px 20px;
    width: 100%;
}

.navbarFirst {
    display: flex;
    justify-content: flex-end;
    background-color: #313436;
    padding: 5px 20px;
    width: 100%;
}

h1 {
    font-weight: 600px;
}

.navbar-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
}

.nav-item {
    margin-left: 40px;
    position: relative;
}

.nav-item a {
    text-decoration: none;
}

.nav-item a:hover {
    color: white;
}

.nav-item .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 70%;
    background-color: #2e3132;
    padding: 10px;
    z-index: 10;
}

.nav-item:hover .dropdown-menu {
    display: flex;
    gap: 2rem;

}

.dropdown-menu li {
    list-style: none;
    margin: 5px 0;
    width: fit-content;
    height: fit-content;
    font-size: small;
}

.dropdown-menu li a {
    color: rgb(255, 255, 255);
    display: block;
    font-size: small;
    cursor: pointer;
}
.dropdown a:hover{
    color: #b74b1c;
}

.containerEsperienze .dropdown-menu {
    flex-direction: row;
    flex-wrap: wrap;
    color: rgb(240, 248, 255);
}


.exploregames {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    height: 50%;
}

.exploregames li {
    font-size: small;

}

.exploregames a:hover {
    color: #b74b1c;
}

a {
    color: rgb(255, 255, 255);
}


.icon-container {
    display: flex;
    gap: 2rem;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.hero {
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
}

.hero img {
    height: 100%;
    width: 100%;
}

.overimg {
    height: 30%;
    width: 30%;
    margin-top: 7%;
    margin-left: 10%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.veil-guard {
    position: absolute;
    top: 105%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
}

.veil-guard button {
    font-size: 1rem;
    font-weight:200;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    padding: 16px 24px;
    border: none;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    background-color: rgba(10, 253, 30, 0.7);
}

.more-options {
    margin-right: 40px;
}

.ea-links{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;

    /* background-color:aquamarine; */
}

.ea-links img{
    /* position: absolute; */
    height: 100px;
    width: 100%;
}

h2{
    margin-right: 50%;
    font-size: 1.5rem;
    font-weight:200;
    color: aliceblue;
    position: absolute;
}

.buttonEALinks{
    
    cursor: pointer;
    padding: 25px 35px;
    border: none;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    background-color: rgba(10, 253, 30, 0.7);
    position: absolute;
    align-self: flex-end;
    margin-right: 17%;
    font-size: small;
}

/* inizio branch nicolas */

.latest-news-tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 2rem;
}

.latest-news-tab h1 {
    padding-top: 2rem;
}

.news-tab {
    display: flex;
    overflow: hidden;
    /* scrollbar-width: none; */
    white-space: nowrap;
    list-style-type: none;
    border-bottom: 1px solid rgb(227, 227, 227);
    width: 100%;
    justify-content: start; 
    align-items: center;
    padding-left: 15%;
    /* margin: 0 100px;  */
    /* padding: 0 10%; */
    scroll-behavior: smooth;
    position: relative;
}

.news-tab > button:hover {
    background-color: rgb(228, 228, 228);
}

.news-tab button {
    text-align: center;
    display: flex;
    padding: 1rem 0;
    position: relative;
    justify-content: space-between;
    border: none;
    outline: none;
    background-color: inherit;
    cursor: pointer;
    transition: border-bottom 1s;
}

.news-tab button p {
    border-right: 1px solid rgb(140, 140, 140);
    padding: 0 1rem;
}

.news-tab button.active {
    background-color: rgb(228, 228, 228);
}

.news-tab button:last-child p {
    border-right: none;
}


.selected-tab {
    align-self: center;
    background-color: red;
    width: 0;
    height: 2px;
    align-self: flex-end;
    position: absolute;
    bottom: 0;
    transition: width .1s ease-out;
    margin: 0 10%;
}

.news-tab button.active .selected-tab {
    width: 80%;
}

.news-tab-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.scroll-right, .scroll-left {
    opacity: 1;
    background-color: #fff;
    cursor: pointer;
    visibility: visible;
    padding: 1rem;
}

.hidden {
    display: none;
}


.tabcontent {
    list-style-type: none;
    display: none;
    grid-template-columns: repeat(3, 1fr);
    width: 70%;
    /* margin: 0 10%; */
    gap: 1rem;
}

.article {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
    overflow: hidden;
    box-shadow: 5px 5px 5px #dedede;
    cursor: pointer;
}

.tabcontent li {
    transition: margin-bottom 1s, margin-top 1s;
}

.tabcontent li:hover {
    margin-bottom: 10px;
    margin-top: -10px;
}

.article > img {
    width: 100%;
}

.article-info {
    display: flex;
    gap: .5rem;
    font-size: small;
}

.article-source {
    color: red;
}

.article-title {
    font-weight: bold;
}

.article-info, .article-title, .article-content {
    padding: .5rem .5rem 0 .5rem;
}

.more-details-button {
    padding: .5rem 1rem;
    background-color: #fff;
    border-radius: 3px;
    transition: padding 1s;
}

.more-details-button:hover {
    padding: .8rem 1.5rem;
    cursor: pointer;
}


/* media query */

@media screen and (max-width: 1024px) {
    .tabcontent {
        grid-template-columns: repeat(2, 1fr);
        width: 80%;
    }
}

@media screen and (max-width: 767px) {
    .tabcontent {
        grid-template-columns: repeat(1, 1fr);
        width: 80%;
    }

    .article {
        margin-bottom: 0;
        padding: 1rem;
    }

    .article img {
        display: none;
    }

    .article-info {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .article-content {
        display: none;
    }
}

/* fine branch nicolas */